#common
config/.env

#webapp
src/web-app/src/node_modules

# Hardhat files
src/solidity/coverage
src/solidity/coverage.json
src/solidity/typechain
src/solidity/typechain-types
src/solidity/cache
src/solidity/artifacts
*.code-workspace
src/config/env/.env
src/solidity/node_modules
