src/solidity/node_modules
config/.env
src/solidity/coverage
src/solidity/coverage.json
src/solidity/typechain
src/solidity/typechain-types

# Hardhat files
src/solidity/cache
src/solidity/artifacts
*.code-workspace
src/config/env/.env